<head profile="http://dublincore.org/documents/dcq-html/">
    <title>sxa | {% if page.layout =="article" or page.layout =="project" %}{{ page.title['short'] }}{% else %}{{page.title}}{% endif %}</title>  


    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">


    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400"> 

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico"> 

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/atom.xml">
  </head>
